<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liveearth.streetview.navigation.map.worldradio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
  <!--  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

    <application
        android:name=".hilt.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.StreetViewClock"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.StreetViewPrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.StreetViewFirstLookActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.StreetViewMainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.StreetViewMainGlobeViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewTravelExpenseDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewTravelExpenseViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewRadioPlayStationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewFavouriteLocationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewRadioChannelsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewWeatherMoreDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewWorldClockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewSpeedoMeterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".locationTracking.LocationTrackingMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewSearchNavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewTravelExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewWeatherDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewNavigationMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewRouteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewNearByPlacesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WordTimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewNasaGlobeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StreetViewGlobe.StreetViewAbstractMainRadioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StreetViewGlobe.StreetViewGeneralGlobeRadioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StreetViewGlobe.StreetViewBasicGlobeRadioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewMeetMeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BaseStreetViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StreetViewLiveEarthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreenStreetViewActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Location Service ! -->
        <service android:name=".locationTracking.LocationTrackingService" />
    </application>

</manifest>